.container {
  background-image: url('/certificate-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.login {
  max-width: 610px;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.login .logo {
  padding: 3rem 10%;
}

.login h1 {
  text-align: center;
  font-weight: 400;
}

.loginForm {
  padding: 2rem 10%;
}

.loginForm label {
  display: block;
}

.loginForm input {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #284A67;
  width: 100%;
}

.loginForm input[type="submit"] {
  width: 30%;
  background-color: #284A67;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

@media (max-width: 610px) {
  .container {
    background: none;
  }
}

@media (max-width: 320px) {
  .loginForm input[type="submit"] {
    width: 100%;
  }
}

.login p {
  padding: 2rem 10%;
}